body {
 margin: 0;
	 font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    .logo{
      width: 250px;
      margin-botton: 15px;
}

header {
    background-color: #000;
    padding: 20px;
    border-bottom: 3px solid #00ffcc;
}

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}


.producto {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px #00ffcc;
}

.precio {
    font-size: 20px;
    color: #00ffcc;
}

button {
    background-color: #00ffcc;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #00ccaa;
}
.btn {
  background: #00ffd5;
  color: black;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
font-weight: bold;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #00c9aa;
}