body {
 margin: 0;
	 font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    
}
.logo {
	width: 250px;
	margin-botton: 15px;
}
	header {
    background-color: #000;
    padding: 20px;
    border-bottom: 3px solid #00ffcc;
}

.contenedor-cards {
  display: grid;
  flex-wrap: wrap;
  justity-content: center;
  
  gap: 20px;
  justify-items: center;
}

.catalogo {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;

}

.producto {
    background-color: #1e1e1e;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 0 10px #00ffcc;
}

.producto img {
    max-width:100%;
    border-radius: 5px;
}

.producto h2 {
   color: #00f5d4;
   margin: 10px 0;
}
.precio {
    font-size: 20px;
    color: #00ffcc;
}

button {
    background-color: #00ffcc;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #00ccaa;
}
.btn {
  background: #00ffd5;
  color: black;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
font-weight: bold;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #00c9aa;
}

.btn-volver {
   margin-top: 30px;
   background: #333;
   color:white;
   padding: 10px 20px;
   border:none;
   border-radius: 5px;
   cursor: pointer;

}